{!
#include <stdlib.h>

#include "tmpl.h"
!}

{{ define base(struct template *tp, const char *title) }}
<!doctype html>
<html>
	<head>
		<title>{{ title | urlescape }}</title>
	</head>
	<body>
		<h1>{{ title | unsafe }}</h1>
	</body>
</html>
{{ end }}
